.cart-product-container {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    /* overflow-x: auto; */
    /* width: 100%; */
}

div .checkout-button {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3.5px;
    color: rgb(16, 19, 212);
    width: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

div .checkout-button:hover {
    background-color: rgb(0, 0, 151);
    color: white;
}

.total-price, .price {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.name {
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.product-image-cart {
    border-radius: 5px;
    height: 350px;
    width: 450px;
}


.delete-cart-button {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3.5px;
    color: rgb(212, 16, 16);
    width: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

.delete-cart-button:hover {
    background-color: rgb(151, 0, 0);
    color: white;
}

.empty-cart-message {
    font-size: 1.5rem;
    color: red;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.quantity-dropdown {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .quantity-dropdown select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3.5px;
    color: rgb(16, 19, 212);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
  }

  .empty-cart {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    /* padding-top: 10px; */
  }

  .image-gif {
    display: flex;
    align-items: center;
  }


  /* .sub-total-price {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-weight: bold; */
  /* } */

  .sub-total-price {
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


  [data-theme='dark'] {
    --background: #282c34;
    --primary: white;
  }

  body {
    background-color: var(--background);
    color: var(--primary);
  }

  [data-theme='dark'] .cart-product-container {
    border-color: white;
    background-color: #444;
    color: white;
  }

  [data-theme='dark'] .checkout-button {
    background-color: white;
    color: blue;
  }

  [data-theme='dark'] .checkout-button:hover {
    background-color: #000097;
  }

  [data-theme='dark'] .delete-cart-button {
    background-color: white;
    color: red;
  }

  [data-theme='dark'] .delete-cart-button:hover {
    background-color: #970000;
  }

  [data-theme='dark'] .total-price,
  [data-theme='dark'] .price,
  [data-theme='dark'] .name,
  [data-theme='dark'] .sub-total-price {
    color: white
  }

  [data-theme='dark'] .quantity-dropdown select {
    background-color: #444;
    color: white;
    border-color: white;
  }

  [data-theme='dark'] .empty-cart-message {
    color: red;
  }


  @media only screen and (max-width: 768px) {
    .cart-product-container {
      grid-template-columns: 1fr;
    }

    .product-image-cart {
      height: 100px;
      width: 150px;
    }

    .quantity-dropdown select {
      width: 80px;
    }

    .checkout-button {
      width: 120px;
      font-size: 12px;
      padding: 5px 10px;
    }

    .delete-cart-button {
      width: 120px;
      font-size: 12px;
      padding: 5px 10px;
    }

    .name {
      font-size: 14px;
    }

    .price {
      font-size: 14px;
    }

    .sub-total-price {
      font-size: 12px;
    }

    .empty-cart-message {
      font-size: 14px;
    }

    .image-gif {
      width: 200px;
      height: 200px;
    }

    .empty-cart {
      text-align: center;
    }
  }


  @media only screen and (max-width: 600px) {
    .cart-product-container {
      grid-template-columns: 1fr;
    }

    .product-image-cart {
      height: 100px;
      width: 150px;
    }

    .quantity-dropdown select {
      width: 80px;
    }

    .checkout-button {
      width: 120px;
      font-size: 12px;
      padding: 5px 10px;
    }

    .delete-cart-button {
      width: 120px;
      font-size: 12px;
      padding: 5px 10px;
    }

    .name {
      font-size: 14px;
    }

    .price {
      font-size: 14px;
    }

    .sub-total-price {
      font-size: 12px;
    }

    .empty-cart-message {
      font-size: 14px;
    }

    .image-gif {
      width: 200px;
      height: 200px;
    }

    .empty-cart {
      text-align: center;
    }

  }
