.review-card-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .review-rating {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  .review-text {
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-break: break-all;
  }

  .createdAt {
    font-style: italic;
    font-size: 12px;
    margin-top: 20px;
  }

  .delete-review-button {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: underline;
    /* background-color: rgba(199, 6, 6, 0.842); */
    background-color: transparent;
    color: red;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    /* width: 100%; */
    text-align: center;
    border-radius: 5px;
    /* color: white; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .delete-review-button:hover {
    background-color: rgba(241, 78, 78, 0.747);
  }

  .edit-review-button {
    position: absolute;
    /* top: 20px; */
    /* right: 150px; */
    text-decoration: underline;
    /* background-color: green; */
    margin-bottom: 10px;
    /* padding: 10px; */
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    color: green;
  }

  .edit-review-button:hover {
    background-color: rgba(52, 240, 52, 0.473);
  }

  /* .review-card-container:hover {
    display: block;
  } */

  .delete-review-button {
    display: block;
  }

  /* .review-card-container:hover {
    display: block;
  } */

  .review-card-container button {
    display: block;
  }

  .edit-review-button {
    display: block;
  }

  /* @media only screen and (max-width: 768px) {
    .review-card-container {
      padding: 10px;
    }

    .delete-review-button {
      top: 10px;
      right: 10px;
    }

    .edit-review-button {
      top: 10px;
      right: 100px;
    }
  } */
