.NavStart {
  display: flex;
  flex-direction: row;
}


.Navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0.7px 0.3px 0px 0px rgba(0, 0, 0, 0.5);
  /* box-shadow: 5.9px 0.8px 2.6px 0px rgba(0,0,0,0.5); */

  background-color: white;
  width: 85%;
  height: 100px;
  padding: 0 2em;
  margin: auto;
  position: relative;
  align-items: center;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 2;
  margin-top: 1px;
  width: 250px;
  height: auto;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5%;
  position: absolute;
}

.profile-dropdown button {
  width: 100%;
}



.hidden {
  display: none;
}


.profilebutton {
  border: hidden;
  padding: 0;
  padding-bottom: white;
}

.profile-dropdown li {
  margin-bottom: 10px;
  word-break: break-word;
}

.profile-dropdown button {
  padding: 10px;
  margin: 5px;
  background-color: #2798e3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background-color: rgba(0, 132, 255, 0.651)
}

.home-page {
  text-decoration: none;
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(to right, red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoutbutton {
  background-color: #fc3239 !important;
  border-radius: 4px !important;
  /* border: none !important; */
  color: #FFFFFF !important;
  font-size: 12px !important;
  /* padding: 6px 16px !important; */
  text-align: center !important;
  text-decoration: none !important;
  /* display: inline-block !important; */
}

.logoutbutton:hover {
  background-color: #aa0006 !important;
}


.sign-in-and-cart {
  gap: 100px;
  display: flex;
  font-size: 25px;
}

.sign-in-home {
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  color: rgb(5, 161, 5);
}


[data-theme='dark'] {
  --background: #282c34;
  --primary: white;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

[data-theme='dark'] .Navbar {
  border-color: white;
  background-color: #282c34;
  color: white;
}

@media screen and (max-width: 768px) {
  .Navbar .sign-in-and-cart {
    flex-direction: column;
  }

  .sign-in-and-cart {
    gap: 20px;
    align-items: center;
  }

  .profile-dropdown {
    width: 100%;
    height: auto;
  }
}
