.whole-container {
    padding-top: 90px;
}

.prehistoric-image {
    /* max-width: 100%; */
    width: 300px;
    height: 300px;
    /* object-fit: cover; */
    border-radius: 10px;
    /* height: auto; */
}

.banner-container {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    /* padding-top: 40px; */
}

.banner-image {
    width: 50%;
    border-radius: 5px;
}

.root-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.product-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* .whole-container {
    display: grid;
} */

.welcome-title {
    text-align: center;
}


[data-theme='dark'] {
    --background: #282c34;
    --primary: white;
}

body {
    background-color: var(--background);
    color: var(--primary);
}

[data-theme='dark'] .product-name {
    border-color: white;
    background-color: #282c34;
    color: white;
}
/*
@media only screen and (min-width: 1025px) {
    .banner-container {
        height: 100%;
    }

    .banner-image {
        width: 50%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:780px) {
    .root-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-image {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .root-container {
        grid-template-columns: repeat(3, 1fr);
    }
} */


@media screen and (max-width: 600px) {

    .whole-container {
      padding-top: 60px;
    }

    .prehistoric-image {
      width: 200px;
      height: 200px;
    }

    .banner-container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .banner-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .root-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .product-name {
      font-size: 16px;
    }

  }

  @media screen and (min-width: 601px) and (max-width: 900px) {

    .whole-container {
      padding-top: 75px;
    }

    .prehistoric-image {
      width: 250px;
      height: 250px;
    }

    .banner-container {
      /* justify-content: space-between; */
      text-align: center;
    }

    .banner-image {
      width: 45%;
    }

    .root-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }

  }

  @media screen and (min-width: 901px) {

    .whole-container {
      padding-top: 90px;
    }

    .prehistoric-image {
      width: 300px;
      height: 300px;
    }

    .banner-container {
      justify-content: center;
    }

    .banner-image {
      width: 50%;
    }

    .root-container {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }

  }
